<div class="form d-flex justify-content-center">
  <div class="container d-flex justify-content-center form-position">
    <div>
      <h4 class="mb-4">Edit
        <%= @kid.first_name.capitalize.possessive %> profile </h4>
      <%= simple_form_for [@kid] do |f| %>
      <%= f.input :first_name, input_html: { class: "name"} %>
      <%= f.input :last_name, input_html: { class: "name"} %>
      <%= f.input :age %>
      <%= f.input :photo, as: :file %>
      <div class="d-flex justify-content-start align-items-center mb-5">
        <%= f.submit class: "login-button orange d-flex justify-content-center align-items-center" %>
        <div>
          <%= link_to 'Back to profile', profile_path(current_user), class: "back-to-profile btn btn-success d-flex justify-content-center align-items-center ml-2" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
