<div class="outermost-bg">
  <div class="innermost-bg d-flex ">
    <div class="left-column pl-4 pt-4">
      <div class="sticky-div">
        <div class="d-flex justify-content-center align-items-center">
          <%= cl_image_tag("vt5sy3uiwvcsywyahm2z", crop: :fill, id: "avatar-kid", class: 'my-3 pl-3 mr-2') %>
          <div class="kid-name mr-4">
            <%= @kid.first_name.upcase %>
          </div>
        </div>
        <div>
          <div class="d-flex">
            <div class="level-wrapper">
              <div class="d-flex justify-content-between">
                <h2 id="level" class="">LV
                  <%= @kid.level %>
                </h2>
                <h2 id="current-xp" class="">
                  <%= @kid.total_score %>XP/60</h2>
              </div>
              <div id="border-xp" class=''>
                <div>
                  <div id="<%= 'xp-bar20' if @kid.total_score == 20 %>"></div>
                  <div id="<%= 'xp-bar40' if @kid.total_score == 40 %>"></div>
                </div>
              </div>
            </div>
            <div class="trophy-container">
              <%= cl_image_tag("m1d2phpreq29s8ngsqtu", crop: :fill, id: "trophy") %>
            </div>
          </div>
          <div class="mt-4 mb-2 text-white flex-column font-weight-bold level-wrapper d-flex justify-content-end">
            <h2>Achievements</h2>
            <div class="row my-4">
              <% icons_array = ["awzo80loeoay9teydffs", "rdl0tcyxqdmimys2jtqb", "yssqdoctij2kaehrmssa", "yqx0wakn1drwr5qmktl2", "mq94nglz2f6daczcpxef", "fmpcyepakcij0oszgahp", "gbitumpepxxuh5qle58n", "tgbvukl6lit7hlcgtijq", "rs8f6ayvszjryc9i2zd0", "qvzeie3uoo61g5e8zyb2", "lz91nhvjbryezvrpmm86", "ehrobeohrvqjuoxyirfr" ] %>
              <% counter = 0 %>
              <% icons_array.each do |icon| %>
              <% if @kid.level > counter %>
              <div class="col-lg-4 mt-1 mb-5">
                <%= cl_image_tag(icon, crop: :fill, class: "achievements mx-auto px-2") %>
              </div>
              <% counter += 1 %>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-column pr-4">
      <div class='mt-4 text-center text-white d-flex justify-content-center'>
        <h2 style="width: 60%" class="kid-profile-allowed-games text-start">Games you can play</h2>
        <button type="button" class="orange login-button kid-prof-back" data-toggle="modal" data-target="#myModal">Exit</button>
      </div>
      <% if @allowed_games.count == 3  %>
      <div class="row">
        <% @allowed_games.each do |allowed_game| %>
        <div class="col-12 col-md-6 col-lg-4 my-5 d-flex flex-column justify-content-center align-items-center">
          <div class="game-card-kid p-2">
            <%= link_to game_path(allowed_game.game_id, kid_id: @kid) do %>
            <%= cl_image_tag allowed_game.game.cloud_imag_url, class: 'game-card-kid-image-medium' %>
            <div class="container mt-2">
              <h4>
                <%= allowed_game.game.title %>
              </h4>
              <h4>
                <%= allowed_game.game.topic %>
              </h4>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <% elsif @allowed_games.count == 2 %>
      <div class="row">
        <% @allowed_games.each do |allowed_game| %>
        <div class="col-12 col-md-6 col-lg-6 my-5 d-flex flex-column justify-content-center align-items-center">
          <div class="game-card-kid p-2">
            <%= link_to game_path(allowed_game.game_id, kid_id: @kid) do %>
            <%= cl_image_tag allowed_game.game.cloud_imag_url, class: 'game-card-kid-image-medium' %>
            <div class="container mt-2">
              <h4>
                <%= allowed_game.game.subject %>
              </h4>
              <h4>
                <%= allowed_game.game.topic %>
              </h4>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <% elsif @allowed_games.count == 1 %>
      <div class="row">
        <% @allowed_games.each do |allowed_game| %>
        <div class="col-12 col-md-6 col-lg-12 my-5 d-flex flex-column justify-content-center align-items-center">
          <div class="game-card-kid p-2">
            <%= link_to game_path(allowed_game.game_id, kid_id: @kid) do %>
            <%= cl_image_tag allowed_game.game.cloud_imag_url, class: 'game-card-kid-image-large' %>
            <div class="container mt-2">
              <h4>
                <%= allowed_game.game.subject %>
              </h4>
              <h4>
                <%= allowed_game.game.topic %>
              </h4>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <% elsif @allowed_games.count == 0 %>
      <p class='paragraph mt-5 text-white text-center font-weight-bold'>Your
        parent have not added any games to your profile 😿</p>
      <% else %>
      <div class="row">
        <% @allowed_games.each do |allowed_game| %>
        <div class="col-12 col-md-6 col-lg-3 my-5 d-flex flex-column justify-content-center align-items-center">
          <div class="game-card-kid p-2">
            <%= link_to game_path(allowed_game.game_id, kid_id: @kid) do %>
            <%= cl_image_tag allowed_game.game.cloud_imag_url, class: 'game-card-kid-image-small' %>
            <div class="container mt-2">
              <h4>
                <%= allowed_game.game.subject %>
              </h4>
              <h4>
                <%= allowed_game.game.topic %>
              </h4>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Parental confirmation</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @kid do |f| %>
          <%= f.input :password_confirmation, :include_blank => true, placeholder: "password",
                              required: false,
                              input_html: { autocomplete: "new-password" }, label: "Enter password to go back" %>
          <%= link_to 'Confirm', profile_path(current_user), class:"d-flex justify-content-center align-items-center greenish login-button mt-1"  %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

