<div class="container container-for-allowed-games">
  <div class="d-flex justify-content-start align-items-center mb-3">
    <h2 class='h2-game-title'>
      <%= @kid.first_name.capitalize.possessive %> allowed games
    </h2>
    <%= cl_image_tag 'uiprme0fpeh7am66dntp', class: 'subject-icon-no-hover ml-4'%>
  </div>
  <% if @games.count > 0 %>
  <div class="row">
    <% @games.each do |game| %>
    <div class="col-12 col-md-6 col-lg-4 my-5 d-flex flex-column   justify-content-center align-items-center hover-dimensions"
      id="allowed-game-<%=game.id%>">
      <div class="search-game-card">
        <div>
          <%= cl_image_tag Game.find(game.game_id).cloud_imag_url,   class: 'search-game-card-image' %>
        </div>
        <div>
          <h5 class='mt-3 pl-1'>
            <%= Game.find(game.game_id).title %>
          </h5>
          <p class="paragraph game-desc">Age category:
            <span class="age-cat">
              <%= Game.find(game.game_id).age_category %></span>
          </p>
          <p class="paragraph game-desc">Topic:
            <span class="age-cat">
              <%= Game.find(game.game_id).topic %></span>
          </p>
        </div>
      </div>
      <%= link_to  "Delete",  allowed_game_path(game), class: "  greenish call-to-action mx-auto mt-3", data: {confirm: "Are   you sure you want delete this game?"}, method: :delete, anchor: "allowed-game-#{game.id}"  %>
    </div>
    <% end %>
  </div>
  <% else %>
  <p class="paragraph mt-5" style="font-size: 20px"> You haven't added
    any
    games to
    <%= @kid.first_name.possessive.capitalize %> profile 😿. Lets fix
    this! 😺 </p>
  <div class="d-flex align-items-center justify-content-center my-5">
    <%= link_to 'Go Back', profile_path(current_user), class: 'call-to-action ml-2 orange' %>
    <%= link_to 'Add a game', games_path(subject: 'All'), class: 'call-to-action ml-2 greenish', id: 'custom-wdith-for-parent-add-button' %>
  </div>
  <% end %>
</div>
