<div class="container">
  <h1>
    <%= @kid.first_name.possessive %> Profile</h1>
  <h3 class='py-3'>
    <%= @kid.first_name.possessive %> summary</h3>
  <ul>
    <li>Name:
      <%= @kid.first_name %>
    </li>
    <li>Age:
      <%= @kid.age %>
    </li>
    <li>Allowed games:
      <ol>
      <% @kid.allowed_games.each do |allowed_game| %>
      <li>Title: <%= allowed_game.game.title %>. Subject: <%= allowed_game.game.subject %> <%= link_to  "Delete",  allowed_game_path(allowed_game), method: :delete, data: {confirm: "Are you sure you want delete this game?"} %></li>
      <% end %>
      </ol>
    </li>
    <li>Total_score:
      <%= @kid.total_score %>
    </li>
  </ul>
  <%= link_to 'Back to profile', profile_path(@current_user), class: 'btn btn-primary'  %>
</div>
