<div class="form-container d-flex align-items-center justify-content-center flex-column">
  <div class="form-logo-container">
    <%= link_to root_path, class: 'logo-container' do %>
    <%= cl_image_tag 'ue0taitpubdpislidb8b', id: 'form-logo' %>
    <% end %>
  </div>
  <div class="text-white form-box container">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }%>
    <%= f.input :first_name,
                          required: true,
                          autofocus: false, input_html: { class: "name"} %>
    <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" }, hint_html: { class: "hint"} %>
    <%= f.input :photo, as: :file %>
    <div class="form-button-container">
    <%= f.button :submit, "Sign up", class: "btn-form button orange d-flex justify-content-center mb-3"%>
    <%= link_to 'Go Back', root_path, class: "btn-form mx-3 button greenish d-flex justify-content-center mb-3"  %>
    </div>
    <p>Already created an account?
      <%= link_to "Log in", new_user_session_path, class: "link-in-text font-weight-bold" %>
      instead.
    </p>
    <% end %>
  </div>
</div>
