<!-- hard-coded most popular games cards -->
<div class="card-container mb-2">
  <div class="container text-center">
    <h3 class="py-3 mb-4">Our most popular games</h3>
  </div>
  <div class="row">
  <!-- <div class="d-flex justify-content-around "> -->
    <div class="col-lg-3 col-md-6 col-sm-12 pb-3 ">
    <%= link_to games_path(subject: 'All'), class: 'paragraph' do  %>
    <div class="game-card">
      <%= cl_image_tag 'b9ow23pwbktl3skl2tci', class: 'game-card-image' %>
      <div class="container mt-4">
        <h4>How many eggs?</h4>
        <p class='paragraph w-100 mt-2'>For those who learn how to count
          from 1 to 10
        </p>
      </div>
    </div>
    <% end %>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-3">
    <%= link_to games_path(subject: 'All'), class: 'paragraph' do %>
    <div class="game-card">
      <%= cl_image_tag 'jhqnuizimqek5hnqtao9', class: 'game-card-image' %>
      <div class="container mt-4">
        <h4>Addition sprint</h4>
        <p class='paragraph w-100 mt-2'>Lets learn arithmetics together.Its
          fun!
        </p>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 pb-3 ">
    <%= link_to games_path(subject: 'All'), class: 'paragraph' do %>
    <div class="game-card">
      <%= cl_image_tag 'rushhamrellqq7ouohnh', class: 'game-card-image' %>
      <div class="container mt-4">
        <h4>Smash the spelling!</h4>
        <p class='paragraph mt-2'>For those who are confident with
          their
          phonics
        </p>
      </div>
    </div>
    <% end %>
  </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-3 ">
    <%= link_to games_path(subject: 'All'), class: 'paragraph' do %>
    <div class="game-card">
      <%= cl_image_tag 'rushhamrellqq7ouohnh', class: 'game-card-image' %>
      <div class="container mt-4">
        <h4>Learn about Universe</h4>
        <p class='paragraph mt-2'>3..2..1.. Blast off!
        </p>
      </div>
    </div>
    <% end %>
  </div>
  </div>
</div>
