<div class="container p-5">
  <h1>
    <%= @user.first_name.possessive  %> Profile</h1>
  <h3 class='py-3'>Your kids</h3>
  <div class="cards">
    <% @kids.each do |kid| %>
    <%= link_to kid_path(kid) do  %>
    <div class="card-product my-5">
      <% if kid.photo.attached? %>
      <%= cl_image_tag kid.photo.key %>
      <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <% end %>
      <div class="card-product-infos">
        <p class="child-text">
          <%= kid.first_name %>
          <%= link_to kid_path(kid) do  %>
          <%= cl_image_tag "vuchcnr52prmg4fybfxb.svg", class: "subject-icon" %>
          <% end %>
          <%= link_to edit_kid_path(kid) do  %>
          <i class="fas fa-pen p-1"></i>
          <% end %>
        </p>
      </div>
      <%= link_to 'Enter child mode', kids_profile_path(kid), class: 'btn btn-outline-success btn-mode'  %>
    </div>
    <% end %>
    <% end %>
  </div>
  <div class="child-text">
    <%= link_to new_kid_path do %>
    <i class="btn btn-success">Add a child</i>
    <% end %>
  </div>
</div>
