<div class="container-fluid p-5 mt-5 d-flex flex-column">
  <!-- renders kid cards and buttons if children exist -->
  <% if @kids.count > 0 %>
  <h1 class='py-2 mt-5 card-button text-center my-5'><span style="color:#0E91A1">Y</span><span
      style="color:#458a86">o</span><span style="color:#618679">u</span><span
      style="color:#7c826b">r </span><span style="color:#8a8065">K</span><span
      style="color:#987e5e">i</span><span style="color:#b37a50">d</span><span
      style="color:#e97234">s</span></h1>
  <div class="my-5 children-grid">
      <% @kids.each do |kid| %>
        <div class="d-flex flex-column align-items-center justify-content-center">
      <%= link_to kid_path(kid) do  %>
        <% if kid.photo.attached? %>
        <%= cl_image_tag kid.photo.key, class: "avatar-profile", crop: :thumb, gravity: :face %>
        <% else %>
        <%= cl_image_tag "okd26heqffak0vzi5oi3", class: "avatar-profile" %>
        <% end %>
        <p class="paragraph w-100 text-center my-2"> <%= kid.first_name %> </p>
        <%= link_to 'Child mode', kid_profile_path(kid), class: 'mt-3 button greenish' %>
      <% end %>
        </div>
      <% end %>
  </div>
  </div>
  <div class="card-button d-flex justify-content-center my-5">
    <%= link_to new_kid_path do %>
    <button class="button orange mx-3">Add a child</button>
    <% end %>
    <%= link_to 'Add a game', games_path(subject: 'All'), class: 'button mx-3 greenish' %>
  </div>
  <% else %>
  <!-- render prompt to create a child if no children were created -->
  <h1 class='py-2 mt-5'>Welcome to <span style="color:#0E91A1">A</span><span
      style="color:#458a86">l</span><span style="color:#618679">l</span><span
      style="color:#8a8065">S</span><span style="color:#987e5e">m</span><span
      style="color:#b37a50">a</span><span style="color:#e97234">r</span><span
      style="color:#0E91A1">t</span><span style="color:#8a8065">!</span></h1>
  <p class="paragraph py-2">To get started, please create your
    child's profile, then create a list of games they are allowed to
    play. To enable the child to play a game, enter child mode - their personal page, which they can only leave with your permission.</p>
  <div class="d-flex justify-content-center">
    <%= link_to new_kid_path do %>
    <button class="button orange">Add a child</button>
    <% end %>
  </div>
  <% end %>
</div>
