<div class="container-fluid profile-padding mt-5 d-flex flex-column">
  <!-- renders kid cards and buttons if children exist -->
  <div>
    <% if @kids.count > 0 %>
    <h1 class='py-2 card-button text-center profile-margin font-weight-bold '><span style="color:#0E91A1">Y</span><span
        style="color:#458a86">o</span><span style="color:#618679">u</span><span
        style="color:#7c826b">r </span><span style="color:#8a8065">K</span><span
        style="color:#987e5e">i</span><span style="color:#b37a50">d</span><span
        style="color:#e97234">s</span>
        <%= link_to new_kid_path do %> 
        <i class="fas fa-plus ml-2 arrow-font-a-orange"></i>
        <% end %>
    </h1>
    <div class="row justify-content-center">
      <% @kids.each do |kid| %>
        <% if (kid == @kids.last) && (browser.device.mobile? || browser.device.tablet?) %>
          <div class="col-md-4 col-sm-12 d-flex flex-column align-items-center mt-4">
        <% else %>
          <div class="col-md-4 col-sm-12 d-flex flex-column align-items-center my-4">
        <% end %>
        <%= link_to kid_path(kid) do  %>
          <% if kid.photo.attached? %>
            <%= cl_image_tag kid.photo.key, class: "avatar-profile", crop: :thumb, gravity: :face %>
          <% else %>
            <img src='<%= kid.avatar_key %>' class="avatar-profile">
          <% end %>
        <p class="kids-name text-center my-3"> <%= kid.first_name.capitalize %> 
          <span>
            <%= link_to edit_kid_path(kid) do %>
              <i class="fas fa-pen p-1 kids-name"></i>
            <% end %>
            <%= link_to kid_path(kid), method: :delete, remote: true, :data => {:confirm => 'Are you sure?'} do %>
            <i class="fa fa-trash p-1 kids-name" aria-hidden="true"></i>
            <% end %>
            <%= link_to games_path(subject: 'All') do %>
            <i class="fas fa-gamepad p-1 kids-name"></i>
            <% end %>
            <i class="fas fa-cogs p-1 kids-name"></i>
          </span>
        </p>
        <%= link_to 'Child mode', kid_profile_path(kid), class: 'button greenish' %>
        <% end %>
        </div>
      <% end %>
      </div>
    </div>
    <div class="card-button d-flex justify-content-center justify-content-bottom my-3">
    </div>
    <% else %>
  </div>
  <!-- render prompt to create a child if no children were created -->
  <h1 class='py-2 mt-5'>Welcome to <span style="color:#0E91A1">A</span><span
      style="color:#458a86">l</span><span style="color:#618679">l</span><span
      style="color:#8a8065">S</span><span style="color:#987e5e">m</span><span
      style="color:#b37a50">a</span><span style="color:#e97234">r</span><span
      style="color:#0E91A1">t</span><span style="color:#8a8065">!</span></h1>
  <p class="paragraph py-2">To get started, please add
    child to your profile profile, then create a list of games they are allowed to
    play. To enable the child to play a game, enter child mode - their personal page, which they can only leave with your permission.</p>
  <div class="d-flex justify-content-center">
    <%= link_to new_kid_path do %>
    <button class="button orange">Add a child</button>
    <% end %>
  </div>
  <% end %>
</div>
