<div class="container-fluid p-5">
  <h1>
    <%= @user.first_name.possessive %> Profile</h1>
  <h1 class='py-2 mt-5 card-button'><span style="color:#0E91A1">Y</span><span style="color:#458a86">o</span><span style="color:#618679">u</span><span style="color:#7c826b">r </span><span style="color:#8a8065">K</span><span style="color:#987e5e">i</span><span style="color:#b37a50">d</span><span style="color:#e97234">s</span></h1>
  <div class="cards">
    <% @kids.each do |kid| %>
    <%= link_to kid_path(kid) do  %>
    <div class="card-product py-5 my-5">
      <% if kid.photo.attached? %>
      <%= cl_image_tag kid.photo.key, class: "avatar-profile ml-4", crop: :thumb, gravity: :face %>
      <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg", class="avatar-profile"/>
      <% end %>
      <div class="card-product-infos">
        <div class="child-text d-flex justify-content-between align-items-center">
          <%= kid.first_name %>
          -
          <%= kid.age %>
          years old
          <div class="test">
          <%= link_to kid_path(kid) do  %>
          <%= cl_image_tag "vuchcnr52prmg4fybfxb.svg", class: "subject-icon" %>
          <% end %>
          <%= link_to edit_kid_path(kid) do  %>
          <i class="fas fa-pen p-1 greenish2"></i>
          <% end %>
          </div>
        </div>
      </div>
      <%= link_to 'child mode', kids_profile_path(kid), class: 'greenish call-to-action mr-4'  %>
    </div>
    <% end %>
    <% end %>
    <div class="card-button">
    <%= link_to new_kid_path do %>
    <button class="login-button orange call-to-action">Add a child</button>
    <% end %>
  </div>
  </div>
</div>
