<% unless controller_name == "users" %>
<div id="space">
</div>
<% end %>
<div class="footer">
  <div class="d-flex justify-content-around">
    <div class="footer-links d-flex justify-content-around align-items-start">
      <ul>
        <h4>allSmart</h4>
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "foot" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Games', games_path(subject: 'All'), class: "foot" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log in', new_user_session_path, class: "foot" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', new_user_registration_path, class: "foot" %>
        </li>
      </ul>
    </div>
    <div class="footer-links d-flex justify-content-around">
      <ul>
        <h4>Social Media</h4>
        <li>
          <a href="#"><i class="fab fa-github footer-i"> GitHub</i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-instagram footer-i"> Instagram</i></a>
        </li>
        <li>
          <a href="#", class="footer-padding"><i class="fab fa-facebook footer-i"> Facebook</i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-twitter footer-i"> Twitter</i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-linkedin footer-i"> Linkedin</i></a>
        </li>
      </ul>
    </div>
    <div class="footer-links d-flex justify-content-around align-items-start">
      <ul>
        <h4>Mobile Apps</h4>
        <li>
          <%= cl_image_tag("zfplc2v2oprvnvhshypx", :width=>160, :crop=>"scale") %>
        </li>
        <li>
          <p> </p>
        </li>
        <li>
          <%= cl_image_tag("otdk9zkcdnkws68yfrzy", :width=>160, :crop=>"scale") %>
        </li>
      </ul>
    </div>
    <div class="footer-links d-flex justify-content-around align-items-start">
      <%= link_to controller: controller_name, action: action_name do %>
      <i class="fas fa-arrow-circle-up orange-arrow" id="medium-arrow"></i>
      <% end %>
    </div>
  </div>
  <div class="footer-copyright text-center">
    Copyright © 2020 allSmart.uk ®
  </div>
</div>
