<!-- render footer on all the pages apart from child mode and game show page, where game is actually being played -->
<% no_footer_pages = (controller_name == "kids" && action_name == "profile") || (controller_name == "games" && action_name == "show") || (request.fullpath == '/users/sign_in') || ((request.fullpath == '/users/sign_up') || (request.fullpath == '/users/password/new') || (request.fullpath == '/users/confirmation/new')) %>
<% unless no_footer_pages %>
  <div class="footer">
    <div class="d-flex justify-content-around">
      <div class="footer-links phone-footer">
        <ul>
          <h4>allSmart</h4>
          <li>
            <%= link_to 'Home', root_path, class: "foot" %>
          </li>
          <li>
            <%= link_to 'Games', games_path(subject: 'All'), class: "foot" %>
          </li>
          <li>
            <%= link_to 'Log in', new_user_session_path, class: "foot" %>
          </li>
          <li>
            <%= link_to 'Sign up', new_user_registration_path, class: "foot" %>
          </li>
        </ul>
      </div>
      <div class="footer-links phone-footer">
        <ul>
          <h4>Social Media</h4>
          <li>
            <a href="https://github.com/Porim/AllSmart/graphs/contributors"><i class="fab fa-github footer-i"> GitHub</i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram footer-i"> Instagram</i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-facebook footer-i"> Facebook</i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter footer-i"> Twitter</i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/nikita-visencuk-visenko-74b47b127/"><i class="fab fa-linkedin footer-i"> Linkedin</i></a>
          </li>
        </ul>
      </div>
      <div class="footer-links phone-footer">
        <ul>
          <h4>Mobile Apps</h4>
          <li>
            <%= cl_image_tag("zfplc2v2oprvnvhshypx", :width=>160, :crop=>"scale") %>
          </li>
          <li>
            <p> </p>
          </li>
          <li>
            <%= cl_image_tag("otdk9zkcdnkws68yfrzy", :width=>160, :crop=>"scale") %>
          </li>
        </ul>
      </div>
      <div class="footer-links phone-footer">
        <i class="fas fa-arrow-circle-up" id="arrow-footer"></i>
      </div>
    </div>
    <div class="footer-phone-social footer-links text-center">
      <a href="https://github.com/Porim/AllSmart/graphs/contributors"><i class="fab fa-github footer-i"></i></a>
      <a href="#"><i class="fab fa-instagram footer-i"></i></a>
      <a href="#"><i class="fab fa-facebook footer-i"></i></a>
      <a href="#"><i class="fab fa-twitter footer-i"></i></a>
      <a href="https://www.linkedin.com/in/nikita-visencuk-visenko-74b47b127/"><i class="fab fa-linkedin footer-i"></i></a>
    </div>
    <div class="footer-copyright text-center">
      Copyright © 2020 allSmart.uk ®
    </div>
  </div>
<% end %>
