<!-- This navbar style is used if user is not signed, and is on the landing page. -->
<% if !user_signed_in? && current_page?(root_path) %>
<div class="navbar navbar-expand-sm navbar-light navbar-main" id="navbar-main">
  <%= link_to root_path, class: 'logo-container' do %>
  <%= cl_image_tag 'ue0taitpubdpislidb8b', id: 'logo' %>
  <% end %>
  <div class="d-flex align-items-center">
    <ul class="navbar-nav d-flex align-items-center">
      <li class="mx-2 about-us-container">
        <p class='d-inline-block about-us text-white mb-0' id='about-us-link'>About Us</p>
      </li>
      <% if user_signed_in? || current_page?(root_path) %>
      <li class="mx-2">
        <%= link_to "LOG IN", new_user_session_path, class: "button font-weight-normal button-login"%>
      </li>
      <% end %>
      <li class="nav-button-margin">
        <%= link_to "SIGN UP", new_user_registration_path, class: "button orange font-weight-normal sign-up-button-margin button-login"%>
      </li>
    </ul>
  </div>
</div>
<% end %>
<!-- this navbar style is render is user is not signed in and is not on landing page, the only difference being background color of the navbar div. -->
<% if false %>
<% if !user_signed_in? && !current_page?(root_path) %>
<div class="navbar navbar-expand-sm navbar-light navbar-main navbar-colored">
  <%= link_to root_path, class: 'logo-container' do %>
  <%= cl_image_tag 'ue0taitpubdpislidb8b', id: 'logo' %>
  <% end %>
  <div class="d-flex align-items-center">
    <ul class="navbar-nav d-flex align-items-center">
      <li class="mx-2 about-us-container">
        About Us
      </li>
      <% unless user_signed_in? || current_page?(root_path) %>
      <li class="mx-2">
        <%= link_to "LOG IN", new_user_session_path, class: "button font-weight-normal button-login"%>
      </li>
      <% end %>
      <li class="nav-button-margin">
        <%= link_to "SIGN UP", new_user_registration_path, class: "button orange font-weight-normal sign-up-button-margin button-login"%>
      </li>
    </ul>
  </div>
</div>
<% end %>
<% end %>
<!-- This style is renderd if user is signed in, additional tabs appear -->
<%= render 'shared/navbar_user' if user_signed_in? && !((controller_name == "kids" && action_name == "profile") || (controller_name == "games" && action_name == "show")) %>
