<!-- This navbar style is used if user is not signed, and is on the landing page. -->
<% if !user_signed_in? && current_page?(root_path) %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
  <%= cl_image_tag 'ue0taitpubdpislidb8b', id: 'logo' %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="  navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="d-flex align-items-center">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item mx-2">
        <%= link_to 'About Us', root_path(anchor: 'anchor-for-about-us'), class:'about-us', id: 'about-us-link' %>
      </li>
      <% unless user_signed_in? || current_page?(root_path) %>
      <li class="nav-item mx-2">
        <%= link_to "LOG IN", new_user_session_path, class: "nav-link login-button", id:'on-form-button'%>
      </li>
      <% else %>
      <li class="nav-item mx-2">
        <%= link_to "LOG IN", new_user_session_path, class: "nav-link login-button"%>
      </li>
      <% end %>
      <li class="nav-item mx-2">
        <%= link_to "SIGN UP", new_user_registration_path, class: "nav-link login-button orange"%>
      </li>
    </ul>
  </div>
</div>
<% end %>
<% if !user_signed_in? && !current_page?(root_path) %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon colored-navbar">
  <%= link_to root_path, class: "navbar-brand" do %>
  <%= cl_image_tag 'ue0taitpubdpislidb8b', id: 'logo' %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="  navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="d-flex align-items-center">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item mx-2">
        <%= link_to 'About Us', root_path(anchor: 'anchor-for-about-us'), class:'about-us', id: 'about-us-js' %>
      </li>
      <% unless user_signed_in? || current_page?(root_path) %>
      <li class="nav-item mx-2">
        <%= link_to "LOG IN", new_user_session_path, class: "nav-link login-button", id:'on-form-button'%>
      </li>
      <% else %>
      <li class="nav-item mx-2">
        <%= link_to "LOG IN", new_user_session_path, class: "nav-link login-button"%>
      </li>
      <% end %>
      <li class="nav-item mx-2">
        <%= link_to "SIGN UP", new_user_registration_path, class: "nav-link login-button orange"%>
      </li>
    </ul>
  </div>
</div>
<% end %>
<%= render 'shared/navbar_user' if user_signed_in? && !((controller_name == "kids" && action_name == "profile") || (controller_name == "games" && action_name == "show")) %>
