<% unless user_signed_in? || current_page?(root_path) %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon colored-navbar"
  id="navbar-lewagon">
  <% else %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="navbar-lewagon">
    <% end %>
    <%= link_to root_path, class: "navbar-brand" do %>
    <%= cl_image_tag 'ue0taitpubdpislidb8b', id: 'logo' %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to 'Home', root_path, class: 'about-us px-2 mt', id: 'home-on-scroll'  %>
        </li>
        <li class="nav-item">
          <%= link_to 'Browse Games', games_path(subject: 'All'), class: 'about-us px-3 mr-1', id: 'browse-on-scroll'    %>
        </li>
        <li class="nav-item dropdown">
          <div class="d-flex align-items-center user-nav-container" id="navbarDropdown"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.photo.present? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-medium dropdown-toggle ml-2", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
            <%= cl_image_tag "wujjeka5nfr6ospjw1s8", class: "avatar-medium dropdown-toggle ml-2", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="avatar dropdown-toggle text-white ml-4" id="user-toggle"
              style="font-size: 18px;">
              <%= current_user.first_name.capitalize %>
            </div>
          </div>
          <div class="dropdown-menu dropdown-menu-right"
            aria-labelledby="navbarDropdown">
            <%= link_to "View profile", profile_path(current_user), class: "dropdown-item" %>
            <%= link_to "Edit profile", edit_user_registration_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
        <% else %>
        <div class="d-flex align-items-center">
          <li class="nav-item mx-2">
            <a class='about-us' id='about-us-js' href="#anchor-for-about-us">About
              Us</a>
          </li>
          <% unless user_signed_in? || current_page?(root_path) %>
          <li class="nav-item mx-2">
            <%= link_to "LOG IN", new_user_session_path, class: "nav-link login-button", id:'on-form-button'%>
          </li>
          <% else %>
          <li class="nav-item mx-2">
            <%= link_to "LOG IN", new_user_session_path, class: "nav-link login-button"%>
          </li>
          <% end %>
          <li class="nav-item mx-2">
            <%= link_to "SIGN UP", new_user_registration_path, class: "nav-link login-button orange"%>
          </li>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
