<div class="games-page">
  <div class="container all-games">
    <div class="row">
      <div class="col-md-3 d-flex flex-column filter-container">
        <% if !@all.nil? %>
        <%= link_to 'All Games', games_path(subject: 'All'), class: "link-selected mb-3 pl-2"%>
        <% else %>
        <%= link_to 'All Games', games_path(subject: 'All'), class: "link-color mb-3 pl-2"%>
        <% end %>
        <h3 class='mb-3'>Browse by subject</h3>
        <% if !@maths.nil? %>
        <%= link_to 'Maths', games_path(subject: 'Maths'), class: "link-selected mb-2 pl-2" %>
        <% else %>
        <%= link_to 'Maths', games_path(subject: 'Maths'), class: "link-color mb-2 pl-2" %>
        <% end %>
        <% if !@science.nil? %>
        <%= link_to 'Science', games_path(subject: 'Science'), class: "link-selected mb-2 pl-2" %>
        <% else %>
        <%= link_to 'Science', games_path(subject: 'Science'), class: "link-color mb-2 pl-2" %>
        <% end %>
        <% if !@english.nil? %>
        <%= link_to 'English', games_path(subject: 'English'), class: "link-selected mb-2 pl-2" %>
        <% else %>
        <%= link_to 'English', games_path(subject: 'English'), class: "link-color mb-2 pl-2" %>
        <% end %>
        <% if !@biology.nil? %>
        <%= link_to 'Human biology', games_path(subject: 'Biology'), class: "link-selected mb-2 pl-2" %>
        <% else %>
        <%= link_to 'Human biology', games_path(subject: 'Biology'), class: "link-color mb-2 pl-2" %>
        <% end %>
      </div>
      <div class="col-md-9 games py-5">
        <div class="container-fluid mb-1">
          <div class="d-flex justify-content-start align-items-center">
            <h2 class='h2-game-title'>
              <%= @game_title %>
            </h2>
            <%= cl_image_tag @subject_image, class: 'subject-icon-no-hover ml-4'%>
          </div>
          <% if @all_games.count == @games.count %>
          <% @subjects.each do |subject| %>
          <h2>
            <%= subject %>
          </h2>
          <div class="row">
            <% @games.where(subject: subject).each do |game| %>
            <div class="col-12 col-md-6 col-lg-4 my-5 d-flex flex-column justify-content-center align-items-center">
              <div class="search-game-card">
                <div>
                  <%= cl_image_tag game.cloud_imag_url, class: 'search-game-card-image' %>
                </div>
                <div>
                  <h5 class='mt-3'>
                    <%= game.title %>
                  </h5>
                  <p class="paragraph game-desc">Age category:
                    <span class="age-cat">
                      <%= game.age_category %></span>
                  </p>
                  <p class="paragraph game-desc">Topic:
                    <span class="age-cat">
                      <%= game.topic %></span>
                  </p>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <hr class="separator my-4">
          <% end %>
          <% else %>
          <div class="row">
            <% @games.each do |game| %>
            <div class="col-12 col-md-6 col-lg-4 my-5 d-flex flex-column justify-content-center align-items-center">
              <div class="search-game-card">
                <div>
                  <%= cl_image_tag game.cloud_imag_url, class: 'search-game-card-image' %>
                </div>
                <div>
                  <h5 class='mt-3'>
                    <%= game.title %>
                  </h5>
                  <p class="paragraph game-desc">Age category:
                    <span class="age-cat">
                      <%= game.age_category %></span>
                  </p>
                  <p class="paragraph game-desc">Topic:
                    <span class="age-cat">
                      <%= game.topic %></span>
                  </p>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
