<div class="games-page">
  <div class="container all-games">
    <div class="row">
      <!-- Creating tabs with All Games and a header-->
      <div class="col-md-3 d-flex flex-sm-row flex-md-column filter-container">
        <% if @subject == 'All'%>
        <%= link_to 'All', games_path(subject: 'All'), class: "link-selected mb-3 px-1"%>
        <% else %>
        <%= link_to 'All', games_path(subject: 'All'), class: "link-color mb-3 px-1"%>
        <% end %>
        <!-- Creating tab for each subject -->
        <% @subjects.each do |param, image| %>
          <% if @subject == param.to_s %>
            <%= link_to param, games_path(subject: param), class: "link-selected mb-3 px-1"%>
          <% else %>
            <%= link_to param, games_path(subject: param), class: " link-color mb-3 px-1"%>
          <% end %>
        <% end %>
      </div>
      <!-- Rendering results - if all games tab is selected, render all games headed by subject. If particular tab is selected, render only games correspoding to that particular subject -->
      <div class="col-md-9 games py-5">
        <div class="container-fluid mb-1">
          <div class="d-flex justify-content-start align-items-center">
            <% if @subject == 'All' %>
            <h2 class='h2-game-title'>
              All Games
            </h2>
            <%= cl_image_tag 'uiprme0fpeh7am66dntp', class: 'subject-icon-no-hover ml-4'%>
            <% else %>
            <h2 class='h2-game-title'>
              <%= @subject%>
            </h2>
            <%= cl_image_tag @subjects[@subject.to_sym], class: 'subject-icon-no-hover ml-4'%>
            <% end %>
          </div>
          <% if @all_games.count == @games.count %>
          <%= render 'shared/games#index/all_games_index', locals: {games: @games, subjects: @subjects} %>
          <% else %>
          <%= render 'shared/games#index/subject_game_index', locals: {games: @games} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Create modals for cards on All Games tab. These have id of record-game.id -->
<%= render 'shared/games#index/modal_game_index', locals: {games: @games, subject_param: false} %>
<!-- Create modals on subjects tab. These have ids of record-game.id-game.subject. Which kind of id is rendered is controlled by subject_param value -->
<%= render 'shared/games#index/modal_game_index', locals: {games: @games, subject_param: true} %>
