<div class="row">
  <% @games.each do |game| %>
  <div class="col-12 col-md-6 col-lg-4 my-5 d-flex flex-column justify-content-center align-items-center hover-dimensions">
    <%= link_to '#', data: { toggle: "modal", target: "#record-#{game.id}#{game.subject}"} do %>
    <div class="search-game-card">
      <div>
        <%= cl_image_tag game.cloud_imag_url, class: 'search-game-card-image' %>
      </div>
      <div>
        <h5 class='mt-3 pl-1 paragraph'>
          <span class="age-cat">
            <%= game.title %></span>
        </h5>
        <p class="paragraph game-desc">Age category:
          <span class="age-cat">
            <%= game.age_category %></span>
        </p>
        <p class="paragraph game-desc">Topic:
          <span class="age-cat">
            <%= game.topic %></span>
        </p>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
