<!DOCTYPE html>
<html>

<head>
  <%= favicon_link_tag %>
  <title>
    <%= meta_title %>
  </title>
  <meta name="description" content="<%= meta_description %>">
  <!-- Facebook Open Graph data -->
  <meta property="og:updated_time" content="123465789" />
  <meta property="og:title" content="<%= meta_title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= meta_image %>" />
  <meta property="og:description" content="<%= meta_description %>" />
  <meta property="og:site_name" content="<%= meta_title %>" />
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="<%= DEFAULT_META["
    twitter_account"] %>">
  <meta name="twitter:title" content="<%= meta_title %>">
  <meta name="twitter:description" content="<%= meta_description %>">
  <meta name="twitter:creator" content="<%= DEFAULT_META["
    twitter_account"] %>">
  <meta name="twitter:image:src" content="<%= meta_image %>">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap"
    rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://kit.fontawesome.com/62974421cf.js" crossorigin="anonymous"></script>
</head>

<body>
  <%= render 'shared/navbar' %>
  <div class="flex-wrapper">
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= render 'shared/flashes' %>
  </div>
</body>

</html>
